$mainSize: 16px;
$mainColor: #2A445F;
/* Overridding Bootstraps */

.navbar-inverse .navbar-brand {
  color: #E0E0E0;
}
/* My Styles */

body {
  font-size: $mainSize;
}

.my__nav-bar {
  background-color: $mainColor;
}

.main-container {
  margin-top: $mainSize * 3;
}
