$mainSize: 16px;
$mainColor: #2A445F;
$secondaryColor: #1B2C3D;
$navbarSelected: #E0E0E0;
$successBtnColor: #5cb85c;
/* Overridding Bootstraps */

.navbar-inverse .navbar-brand {
  color: $navbarSelected;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: $secondaryColor;
  color: $navbarSelected;
}

.navbar-inverse .navbar-nav>li>a {
  color: $navbarSelected;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: $navbarSelected;
  background-color: $secondaryColor;
}

body {
  font-size: $mainSize;
}

.my__nav-bar {
  background-color: $mainColor;
}

.my__main-container {
  margin-top: $mainSize * 3;
}

.weatherapp_header{
  text-align: center;
  margin-bottom: $mainSize * 2;
}

.weatherapp_inputform {
  margin-bottom: $mainSize;
}

.weatherapp_search-btn {
  color: #FFF;
  background-color: $successBtnColor;
}

.weatherapp_list-item {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  border: 1px solid white;
}


